@charset "UTF-8";

body{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;}
    h1{
        color: brown;
        background-color: darkcyan;}
        h2{color: chartreuse;
        background-color: darkorchid;}
        p{
            text-size-adjust: justify;}